# Compiled object files
*.o

# Executable files
*.exe

# Compiled libraries
*.lib

# Build output directory
/build/

# IDE-specific files
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app